*{
	box-sizing: border-box;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

h1{
	text-align: center;
	font-size: 175%;
}

.row{
	width: 100%;
}


p{
	font-weight: bold;
	margin: -1px -1px 0px 0px;
	border: 1px black solid;
	width: 120px;
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	font-size: 125%;
}

section{
	background-color: #B2B2B2;
	position: relative;
	margin: 10px;
	padding: 30px 20px 20px 20px;
	clear: right;
	border: 1px black solid;
}

#p1{
	background-color: #E7ADAD;
	color: black;
}

#p2{
	background-color: #C24A3E; 
	color: white;
}

#p3{
	background-color: #E3EC60;
	color: black;
}

@media (min-width: 992px){
	.col-md-4{
		float: left;
		width: calc(33.33% - 20px);
	}
} 

@media (min-width: 768px) and (max-width: 991px){
	.col-sm-6{
		float: left;
		width: calc(50% - 20px);
	}

	.col-sm-12{
		float: left;
		width: calc(100% - 20px);
	}
}

@media (max-width: 767px){
	.col-12{
		float: left;
		width: calc(100% - 20px);
	}
}

